.popup {
  &-container {
    z-index: 9999;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-content {
    padding: 1rem 2rem;
    background-color: white;
    //   background-color: $light-color;
    border-radius: 8px;
    min-width: 350px;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  &-inner {
    padding: 8px;
  }

  &-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 16px;
    padding-top: 8px;
  }
}


