* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

.landing {
  position: relative;
  background: url("../images/notes.jpeg") no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  /* text-align: left; */
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #f0f0f0;
}

table tr:nth-child(even) {
  background-color: #f0f0f0;
}

table tr:hover {
  background-color: #ccc;
}

.table-message {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
